.profile__edit-button {
  background-image: url(../../../images/EditButton.svg);
  min-width: 24px;
  height: 24px;
  padding: 0;
  background-position: center;
  box-sizing: border-box;
  border: 1px solid #fff;
  background-color: transparent;
  transition: opacity 0.3s ease-in;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 670px) {
  .profile__edit-button {
    min-width: 18px;
    height: 18px;
    background-size: 18px;
  }
}
