.page {
  background-color: #000;
  min-width: 320px;
  max-width: 880px;
  margin: 0 auto;
  padding: 45px;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 670px) {
  .page {
    padding: 28px 0 36px;
    margin: 0;
  }
}
