.popup__input {
  /*min-height: 27px;*/
  border: 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 39px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}
