.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 32px 36px 36px;
  box-sizing: border-box;
}

@media screen and (max-width: 670px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}
