.profile__profession {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding-top: 16px;
  max-width: 450px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 810px) {
  .profile__profession {
    max-width: 300px;
  }
}

@media screen and (max-width: 670px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 7px;
    max-width: 282px;
  }
}
