.popup__input-error {
    max-width: 358px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
    line-height: 15px;
    display: none;
  }
  
  @media (max-width: 550px) {
    .popup__input-error {
      width: 238px;
    }
  }