.popup__save {
  transition: opacity 0.3s ease-in;
  border: 0;
  background-color: black;
  width: 358px;
  height: 50px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 10px;
  border-radius: 2px;
  padding: 0;
}

.popup__save:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 670px) {
  .popup__save {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
