.profile__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  border-radius: 2px;
  box-sizing: border-box;
  transition: opacity 0.3s ease-in;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 860px) {
  .profile__add-button {
    width: 100px;
  }
}

@media screen and (max-width: 670px) {
  .profile__add-button {
    width: 282px;
    margin-top: 34px;
  }
}
