.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 17px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .profile__name {
    font-size: 35px;
  }
}

@media screen and (max-width: 600px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin: 0 10px 0 0;
  }
}
