
@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__card/elements__card.css);
@import url(../blocks/elements/__foto/elements__foto.css);
@import url(../blocks/elements/__group/elements__group.css);
@import url(../blocks/elements/__like/elements__like.css);
@import url(../blocks/elements/__title/elements__title.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/page/page.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__button-pic/profile__button-pic.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__line/profile__line.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__profession/profile__profession.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__input-error/__input-error_active/popup__input-error_active.css);
@import url(../blocks/popup/_open/popup_open.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(..//blocks/popup/__save/_disabled/popup__save_disabled.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/elements/__trash/elements_trash.css);
@import url(..//blocks/elements/__like/_active/elements__like_active.css);
@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__figure/popup__figure.css);